<div class="row mb-3 mt-3">
    <div class="col-md-12">
        <h1>Eve Market Watch</h1>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-7">

        <p>This tool's purpose is to make you aware when market stocks run out. It is therefore perfect for the lazy
            importer who lists and forgets their market orders.</p>

        <p>Eve Market Watch allows you to define stock thresholds for items and markets. It will then notify you if
            that item's stock for the selected market drops below the threshold. Notifications are currently
            done via ingame mail. Discord/Slack integrations are on the todo list.</p>

        <p>Log in to try it out!</p>
        <a href="{{authUrl}}"><img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-white-large.png"></a>

        <div class="mt-3 mb-3">The checks run every hour in three simple steps:</div>

        <div class="row mb-3">
            <div class="col-md-4 text-center">
                <i class="fa fa-2x fa-area-chart" style="color: green"></i><br/>
                <p style="color: dimgray">1. Read markets</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-2x fa-cog" style="color: green"></i><br/>
                <p style="color: dimgray">2. Check thresholds</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fa fa-2x fa-envelope" style="color: green"></i><br/>
                <p style="color: dimgray">3. Send mail</p>
            </div>
        </div>

        <h3>Upcoming features</h3>
        <p>Send an ingame mail to Rihan Shazih if you have more ideas!</p>
        <ul>
            <li>"Lower/Higher than" notifications</li>
            <li>Button to remove all notifications</li>
            <li>Overview of structures that you have setup notifications for</li>
            <li>Slack/Discord integrations</li>
            <li>Displaying current stock on the dashboard</li>
        </ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="../../assets/notification.png" alt="Notification">
            <div class="card-body">
                <p class="card-text">Ingame mail showing you what's missing.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/dunk_approved.png" alt="Dunk Approved">
            <div class="card-body">
                <p class="card-text">Recommended by Dunk Dinkle!</p>
            </div>
        </div>
    </div>
</div>
